---
title: Seoulture Blog
layout: 'base.njk'
---
    
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title" style="font-size: 3rem; color: black; margin-top: -3rem; margin-bottom: 0;" data-aos="fade" data-aos-delay="50" >Welcome to the blog!</h1>
  </div>
{# 
  <div class="hero-video">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_FsR6Kh.json" mode="bounce" background="transparent"  speed="1"  style="width: 1440; height: 600px;"  loop  autoplay></lottie-player>
      </div> #}
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    {# <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p> #}
    <ul role="list" class="articles__list flow">

   {%- for post in collections.featured | reverse -%}
    {% include 'article-snippet.njk' %}
   {%- endfor %}


   </ul>
</section> 
    
   
